*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: #482053;
    margin: 20px 0;
}

label {
    color: #033c57;
}

input {
    margin: 10px 0;
}

