*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    // background-image: url(./memberPageImg.jpg);
    // background-size: cover;
    position: relative;
    font-family: "Microsoft JhengHei", Arial, sans-serif;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./memberPageImg.jpg);
        background-size: cover;
        filter: blur(2px);
        z-index: -1;
    }

    .message {
        padding: 5px 0;
        background-color: #504b92;
        opacity: 0.9;
        border-radius: 5px;
        margin: 10px 0;
        color: #fff;
        position: absolute;
        top: -10px;
    }
}

.memTit {
    background-color: #fff;
    opacity: 0.9;
    border-radius: 5px;
    padding: 4px 8px;
    margin-bottom: 20px;

    h1 {
        margin: 0;
    }
}

.tabs {
    height: 500px;
    width: 500px;
    position: relative;
    margin-right: 140px;

    .tLabel {
        padding: 12px 16px;
        cursor: pointer;
        background-color: #fff;
        opacity: 0.9;
        text-align: center;
        display: block;
        width: 130px;
    }

    .tRadio {
        display: none;
    }

    .tContent {
        height: 100%;
        width: 100%;
        display: none;
        position: absolute;
        left: 130px;
        top: 0px;
    }

    .tRadio:checked + .tLabel {
        font-weight: bold;
        color: white;
        background-color: #7b80ca;
        opacity: 0.9;
        border-radius: 5px 0 0 5px;
        transition: 0.6s;
    }

    .tRadio:checked + .tLabel +.tContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7b80ca;
        opacity: 0.9;
        border-radius: 0 5px 5px 5px;
        overflow: auto;

        .resBuyPro {
            margin: 20px 0 0 0;
            background-color: rgba(212, 217, 226, 0.9);
            width: 450px;
            height: 300px;
            overflow: auto;
            padding: 20px;
            border-radius: 2px;

            .ordNArea {
                background-color: rgba(69, 102, 163, 0.95);
                padding: 10px;
                border-radius: 5px;
                color: white;
                margin-bottom: 20px;
                position: relative;

                .ordN , .ordS , .ordP{
                    border-bottom: 1px solid white;
                    padding: 5px;
                }

                .ordPro {
                    display: flex;
                    margin: 10px 0;

                    p {
                        text-align: center;
                        width: 120px;
                    }
                }

                .ordU , .ordA{
                    border-top: 1px solid white;
                    padding: 5px;
                }

                .totalP {
                    margin: 20px 0;
                }

            }

        }

        .resSellPro {
            margin: 10px 0;
            background-color: rgba(212, 217, 226, 0.9);
            width: 450px;
            height: 300px;
            padding: 20px;
            border-radius: 2px;
            overflow: auto;

            .ordNArea {
                background-color: rgba(69, 102, 163, 0.95);
                padding: 10px;
                border-radius: 5px;
                color: white;
                margin-bottom: 20px;
                position: relative;

                .ordNC {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                }

                .ordN , .ordS {
                    border-bottom: 1px solid white;
                    padding: 5px;
                }

                .ordPro {
                    display: flex;
                    margin: 10px 0;

                    p {
                        text-align: center;
                        width: 120px;
                    }
                }

                .ordU , .ordA{
                    border-top: 1px solid white;
                    padding: 5px;
                }

                .totalP {
                    margin: 20px 0;
                }

            }

        }

        .sCanCancelProA {
            margin: 0 0 20px 0;
            background-color: rgba(212, 217, 226, 0.9);
            width: 450px;
            height: 300px;
            padding: 20px;
            border-radius: 2px;
            overflow: auto;

            .ordNArea {
                background-color: rgba(69, 102, 163, 0.95);
                padding: 10px;
                border-radius: 5px;
                color: white;
                margin-bottom: 20px;
                position: relative;

                .ordNC {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                }

                .ordN , .ordS {
                    border-bottom: 1px solid white;
                    padding: 5px;
                }

                .ordPro {
                    display: flex;
                    margin: 10px 0;

                    p {
                        text-align: center;
                        width: 120px;
                    }
                }

                .ordU , .ordA{
                    border-top: 1px solid white;
                    padding: 5px;
                }

                .totalP {
                    margin: 20px 0;
                }

            }

        }

        .canCancelProA {
            margin: 0 0 20px 0;
            background-color: rgba(212, 217, 226, 0.9);
            width: 450px;
            height: 300px;
            padding: 20px;
            border-radius: 2px;
            overflow: auto;

            .ordNArea {
                background-color: rgba(69, 102, 163, 0.95);
                padding: 10px;
                border-radius: 5px;
                color: white;
                margin-bottom: 20px;
                position: relative;

                .ordNC {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                }

                .ordN , .ordS {
                    border-bottom: 1px solid white;
                    padding: 5px;
                }

                .ordPro {
                    display: flex;
                    margin: 10px 0;

                    p {
                        text-align: center;
                        width: 120px;
                    }
                }

                .ordU , .ordA{
                    border-top: 1px solid white;
                    padding: 5px;
                }

                .totalP {
                    margin: 20px 0;
                }

            }

        }

        .proDeleModal {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: auto;
            text-align: center;

            .proDeleModalContent {
                background-color: rgba(212, 217, 226, 0.9);
                margin: 0 0 0 0;
                border-radius: 5px;
                padding: 20px;
                width: 220px;
                height: 268px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin: 65px 0 0 120px;

                p {
                    font-size: 12px;
                }

                .proDeleVer {
                    width: 88px;
                    height: 25px;
                    border-radius: 5px;
                }
            }

            .closeProDeleAlert {
                color: #aaa;
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 28px;
                font-weight: bold;
                transition: 0.6s;

                &:hover {
                    color: #065a81;
                    cursor: pointer;
                }
            }
        }

        .memDeleModal {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: auto;
            text-align: center;

            .memDeleModalContent {
                background-color: rgba(212, 217, 226, 0.9);
                margin: 0 0 0 0;
                border-radius: 5px;
                padding: 20px;
                width: 220px;
                height: 268px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin: 50px 0 0 120px;

                p {
                    font-size: 12px;
                }

                .memDeleVer {
                    width: 88px;
                    height: 25px;
                    border-radius: 5px;
                }

            }

            .closeMemDeleAlert {
                color: #aaa;
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 28px;
                font-weight: bold;
                transition: 0.6s;

                &:hover {
                    color: #065a81;
                    cursor: pointer;
                }
            }
        }

        .BCPModal {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: auto;
            text-align: center;

            .BCPModalContent {
                background-color: rgba(212, 217, 226, 0.9);
                margin: 0 0 0 0;
                border-radius: 5px;
                padding: 20px;
                width: 220px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin: 50px 0 0 120px;
            }

            .closeBCPAlert {
                color: #aaa;
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 28px;
                font-weight: bold;
                transition: 0.6s;

                &:hover {
                    color: #065a81;
                    cursor: pointer;
                }
            }
        }

        .SCPModal {
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            overflow: auto;
            text-align: center;

            .SCPModalContent {
                background-color: rgba(212, 217, 226, 0.9);
                margin: 0 0 0 0;
                border-radius: 5px;
                padding: 20px;
                width: 220px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin: 50px 0 0 120px;
            }

            .closeSCPAlert {
                color: #aaa;
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 28px;
                font-weight: bold;
                transition: 0.6s;

                &:hover {
                    color: #065a81;
                    cursor: pointer;
                }
            }
        }


        .checkBtn {
            border: none;
            padding: 4px 6px;
            border-radius: 3px;
            background-color: #065a81;
            cursor: pointer;
            margin: 10px 0;
            transition: 0.6s;

            &:hover {
                color: blue;
                background-color: yellow;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .deleBtn {
            border: none;
            padding: 4px 6px;
            border-radius: 3px;
            background-color: #065a81;
            cursor: pointer;
            margin: 10px 0;
            transition: 0.6s;

            &:hover {
                color: aliceblue;
                background-color: red;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .addProImg {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 40px;
            right: 62px;
        }

        .revProImg {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 138px;
            right: 61px;
        }

        .sortsArea {
            margin: 10px 0;

            p {
                display: inline-block;
            }

            select {
                display: inline-block;
                margin-right: 10px;
            }
        }

        input {
            margin: 15px 5px;
        }

        button {
            border: none;
            padding: 4px 6px;
            border-radius: 3px;
            background-color: #065a81;
            cursor: pointer;
            margin: 10px 0;
            transition: 0.6s;

            &:hover {
                color: aliceblue;
                background-color: #010f05;
            }

            &:active {
                transform: scale(0.95);
            }
        }
    }

    p{
        margin: 0;
    }
    
    select {
        margin: 10px 0;
    }
}

.dropDown {
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #fff;
    opacity: 0.8;
    padding: 15px 5px;
    border-radius: 5px;
  
    &:hover {
      padding: 16px 6px;
    }
  
    .dropStyle {
      background-color: black;
      height: 5px;
      width: 30px;
      border-radius: 15px;
      position: relative;
      padding: 0;
      opacity: 0.9;
      top: 0;
  
      &::before , &::after {
        content: "";
        background-color: black;
        height: 5px;
        width: 30px;
        border-radius: 15px;
        position: absolute;
        opacity: 0.9;
      }
  
      &::before {
        top: -10px;
        right: 0;
      }
  
      &::after {
        top: 10px;
        right: 0;
      }
    }
  
    .dropDownContent {
      display: none;
      position: absolute;
      z-index: 1;
      list-style-type: none;
      width: 110px;
      padding: 8px 12px;
      border-radius: 5px;
      background-color: #fff;
      margin: 0;
      right: 0;
      top: 40px;
      text-align: center;
      opacity: 0.95;
      transition: 0.6s;
  
      li {
        margin-top: 10px;
      }

      a {
        padding: 6px 6px;
      }

      button {
        padding: 2px 6px;
      }
  
      a , button {
        text-decoration: none;
        color: black;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        background-color: #5d66b1;
        transition: 0.6s;
        font-size: 16px;
        margin: 10px 0;
  
        &:hover {
            background-color: #2a37a7;
            color: aliceblue;
        }
  
        &:active {
            transform: scale(0.9);
        }
      }
    }
  
    .show {
        display: block;
    }
}