*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
  font-family: "Microsoft JhengHei", Arial, sans-serif;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./memberPageImg.jpg);
  background-size: cover;
  filter: blur(2px);
  z-index: -1;
}
body .message {
  padding: 5px 0;
  background-color: #504b92;
  opacity: 0.9;
  border-radius: 5px;
  margin: 10px 0;
  color: #fff;
  position: absolute;
  top: -10px;
}

.memTit {
  background-color: #fff;
  opacity: 0.9;
  border-radius: 5px;
  padding: 4px 8px;
  margin-bottom: 20px;
}
.memTit h1 {
  margin: 0;
}

.tabs {
  height: 500px;
  width: 500px;
  position: relative;
  margin-right: 140px;
}
.tabs .tLabel {
  padding: 12px 16px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.9;
  text-align: center;
  display: block;
  width: 130px;
}
.tabs .tRadio {
  display: none;
}
.tabs .tContent {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  left: 130px;
  top: 0px;
}
.tabs .tRadio:checked + .tLabel {
  font-weight: bold;
  color: white;
  background-color: #7b80ca;
  opacity: 0.9;
  border-radius: 5px 0 0 5px;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7b80ca;
  opacity: 0.9;
  border-radius: 0 5px 5px 5px;
  overflow: auto;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro {
  margin: 20px 0 0 0;
  background-color: rgba(212, 217, 226, 0.9);
  width: 450px;
  height: 300px;
  overflow: auto;
  padding: 20px;
  border-radius: 2px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea {
  background-color: rgba(69, 102, 163, 0.95);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordN, .tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordS, .tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordP {
  border-bottom: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordPro {
  display: flex;
  margin: 10px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordPro p {
  text-align: center;
  width: 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordU, .tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .ordA {
  border-top: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resBuyPro .ordNArea .totalP {
  margin: 20px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro {
  margin: 10px 0;
  background-color: rgba(212, 217, 226, 0.9);
  width: 450px;
  height: 300px;
  padding: 20px;
  border-radius: 2px;
  overflow: auto;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea {
  background-color: rgba(69, 102, 163, 0.95);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordNC {
  position: absolute;
  top: 2px;
  right: 10px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordN, .tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordS {
  border-bottom: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordPro {
  display: flex;
  margin: 10px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordPro p {
  text-align: center;
  width: 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordU, .tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .ordA {
  border-top: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .resSellPro .ordNArea .totalP {
  margin: 20px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA {
  margin: 0 0 20px 0;
  background-color: rgba(212, 217, 226, 0.9);
  width: 450px;
  height: 300px;
  padding: 20px;
  border-radius: 2px;
  overflow: auto;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea {
  background-color: rgba(69, 102, 163, 0.95);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordNC {
  position: absolute;
  top: 2px;
  right: 10px;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordN, .tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordS {
  border-bottom: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordPro {
  display: flex;
  margin: 10px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordPro p {
  text-align: center;
  width: 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordU, .tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .ordA {
  border-top: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .sCanCancelProA .ordNArea .totalP {
  margin: 20px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA {
  margin: 0 0 20px 0;
  background-color: rgba(212, 217, 226, 0.9);
  width: 450px;
  height: 300px;
  padding: 20px;
  border-radius: 2px;
  overflow: auto;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea {
  background-color: rgba(69, 102, 163, 0.95);
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  position: relative;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordNC {
  position: absolute;
  top: 2px;
  right: 10px;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordN, .tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordS {
  border-bottom: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordPro {
  display: flex;
  margin: 10px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordPro p {
  text-align: center;
  width: 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordU, .tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .ordA {
  border-top: 1px solid white;
  padding: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .canCancelProA .ordNArea .totalP {
  margin: 20px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal .proDeleModalContent {
  background-color: rgba(212, 217, 226, 0.9);
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 20px;
  width: 220px;
  height: 268px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 65px 0 0 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal .proDeleModalContent p {
  font-size: 12px;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal .proDeleModalContent .proDeleVer {
  width: 88px;
  height: 25px;
  border-radius: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal .closeProDeleAlert {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .proDeleModal .closeProDeleAlert:hover {
  color: #065a81;
  cursor: pointer;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal .memDeleModalContent {
  background-color: rgba(212, 217, 226, 0.9);
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 20px;
  width: 220px;
  height: 268px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 50px 0 0 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal .memDeleModalContent p {
  font-size: 12px;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal .memDeleModalContent .memDeleVer {
  width: 88px;
  height: 25px;
  border-radius: 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal .closeMemDeleAlert {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .memDeleModal .closeMemDeleAlert:hover {
  color: #065a81;
  cursor: pointer;
}
.tabs .tRadio:checked + .tLabel + .tContent .BCPModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center;
}
.tabs .tRadio:checked + .tLabel + .tContent .BCPModal .BCPModalContent {
  background-color: rgba(212, 217, 226, 0.9);
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 20px;
  width: 220px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 50px 0 0 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .BCPModal .closeBCPAlert {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .BCPModal .closeBCPAlert:hover {
  color: #065a81;
  cursor: pointer;
}
.tabs .tRadio:checked + .tLabel + .tContent .SCPModal {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  text-align: center;
}
.tabs .tRadio:checked + .tLabel + .tContent .SCPModal .SCPModalContent {
  background-color: rgba(212, 217, 226, 0.9);
  margin: 0 0 0 0;
  border-radius: 5px;
  padding: 20px;
  width: 220px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 50px 0 0 120px;
}
.tabs .tRadio:checked + .tLabel + .tContent .SCPModal .closeSCPAlert {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .SCPModal .closeSCPAlert:hover {
  color: #065a81;
  cursor: pointer;
}
.tabs .tRadio:checked + .tLabel + .tContent .checkBtn {
  border: none;
  padding: 4px 6px;
  border-radius: 3px;
  background-color: #065a81;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .checkBtn:hover {
  color: blue;
  background-color: yellow;
}
.tabs .tRadio:checked + .tLabel + .tContent .checkBtn:active {
  transform: scale(0.95);
}
.tabs .tRadio:checked + .tLabel + .tContent .deleBtn {
  border: none;
  padding: 4px 6px;
  border-radius: 3px;
  background-color: #065a81;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent .deleBtn:hover {
  color: aliceblue;
  background-color: red;
}
.tabs .tRadio:checked + .tLabel + .tContent .deleBtn:active {
  transform: scale(0.95);
}
.tabs .tRadio:checked + .tLabel + .tContent .addProImg {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 40px;
  right: 62px;
}
.tabs .tRadio:checked + .tLabel + .tContent .revProImg {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 138px;
  right: 61px;
}
.tabs .tRadio:checked + .tLabel + .tContent .sortsArea {
  margin: 10px 0;
}
.tabs .tRadio:checked + .tLabel + .tContent .sortsArea p {
  display: inline-block;
}
.tabs .tRadio:checked + .tLabel + .tContent .sortsArea select {
  display: inline-block;
  margin-right: 10px;
}
.tabs .tRadio:checked + .tLabel + .tContent input {
  margin: 15px 5px;
}
.tabs .tRadio:checked + .tLabel + .tContent button {
  border: none;
  padding: 4px 6px;
  border-radius: 3px;
  background-color: #065a81;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.6s;
}
.tabs .tRadio:checked + .tLabel + .tContent button:hover {
  color: aliceblue;
  background-color: #010f05;
}
.tabs .tRadio:checked + .tLabel + .tContent button:active {
  transform: scale(0.95);
}
.tabs p {
  margin: 0;
}
.tabs select {
  margin: 10px 0;
}

.dropDown {
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #fff;
  opacity: 0.8;
  padding: 15px 5px;
  border-radius: 5px;
}
.dropDown:hover {
  padding: 16px 6px;
}
.dropDown .dropStyle {
  background-color: black;
  height: 5px;
  width: 30px;
  border-radius: 15px;
  position: relative;
  padding: 0;
  opacity: 0.9;
  top: 0;
}
.dropDown .dropStyle::before, .dropDown .dropStyle::after {
  content: "";
  background-color: black;
  height: 5px;
  width: 30px;
  border-radius: 15px;
  position: absolute;
  opacity: 0.9;
}
.dropDown .dropStyle::before {
  top: -10px;
  right: 0;
}
.dropDown .dropStyle::after {
  top: 10px;
  right: 0;
}
.dropDown .dropDownContent {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  width: 110px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0;
  right: 0;
  top: 40px;
  text-align: center;
  opacity: 0.95;
  transition: 0.6s;
}
.dropDown .dropDownContent li {
  margin-top: 10px;
}
.dropDown .dropDownContent a {
  padding: 6px 6px;
}
.dropDown .dropDownContent button {
  padding: 2px 6px;
}
.dropDown .dropDownContent a, .dropDown .dropDownContent button {
  text-decoration: none;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #5d66b1;
  transition: 0.6s;
  font-size: 16px;
  margin: 10px 0;
}
.dropDown .dropDownContent a:hover, .dropDown .dropDownContent button:hover {
  background-color: #2a37a7;
  color: aliceblue;
}
.dropDown .dropDownContent a:active, .dropDown .dropDownContent button:active {
  transform: scale(0.9);
}
.dropDown .show {
  display: block;
}/*# sourceMappingURL=memberPageStyle.css.map */